.list {
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.link {
  color: inherit;
  text-decoration: none;
  display: block;
}

.link:hover,
.link:focus {
  color: var(--primary-color);
}

.listItem + .listItem {
  margin-left: 2rem;
}

.pushLeft {
  margin-left: auto;
}
