:root {
  --selection-text: #fff;
  --animation: 200ms;
}

:root .theme-light {
  --primary-color: rgb(0, 122, 204);
  --secondary-color: #323330;
  --secondary-color-contrast: #ffffff;
  --selection-bg: rgb(0, 122, 204);
  --horizontal-line: rgba(0, 0, 0, 0.35);
  --appbar-button-text: #323330;
  --appbar-btn-hover-bg: rgb(0, 122, 204);
  --appbar-btn-hover-text: #fff;
  --appbar-bg: #fff;
}

:root .theme-dark {
  --primary-color: rgb(240, 219, 79);
  --secondary-color: #ffffff;
  --secondary-color-contrast: #323330;
  --selection-bg: rgb(240, 219, 79);
  --horizontal-line: rgba(255, 255, 255, 0.35);
  --appbar-button-text: #fff;
  --appbar-btn-hover-bg: #fff;
  --appbar-btn-hover-text: #323330;
  --appbar-bg: #323330;
}
